@model CSC205_Madeira.Models.Family
@{
    ViewBag.Title = "Create a family id";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="Page">
        <div class="centercontent">
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Person", "index", "Person")</li>
                    <li>@Html.ActionLink("Families", "index", "Family")</li>
                    <li>@Html.ActionLink("Create Member", "create", "Person")</li>
                </ul>
            </nav>
          <h1>Register Family</h1>
                <form>
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="label">
                                @Html.LabelFor(model => model.familyname, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                               
                                    @Html.EditorFor(model => model.familyname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.familyname, "", new { @class = "text-danger" })
                               
                            </div>
                        <div class="form-group">
                            <div class="label">
                                @Html.LabelFor(model => model.address1, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                                @Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger" })

                            </div>
                        <div class="form-group">
                            <div class="label">
                                @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })

                            </div>
                        <div class="form-group">
                            <div class="label">
                                @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                                @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })

                            </div>
                        <div class="form-group">
                            <div class="label">
                                @Html.LabelFor(model => model.zip, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                                @Html.EditorFor(model => model.zip, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })

                            </div>
                        <div class="form-group">
                            <div class="label">
                                @Html.LabelFor(model => model.homephone, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                                @Html.EditorFor(model => model.homephone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.homephone, "", new { @class = "text-danger" })

                            </div>
                        
                        <div class="form-group">
                           
                                <input type="submit" value="Create" class="btn btn-default" />
                            
                        </div>
                        </fieldset>
                    </form>
                     </div>
        <div class="contacts">
            <p>Contact Number: (619)306-9764</p>
            <p>Email: sam.green@geneva.edu</p>
        </div>  
                </div>
        
          
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
