@model IEnumerable<CSC205_Madeira.Models.Person>

@{
    ViewBag.Title = "People";

}

<div class="Page">
        <div class="centercontent">
            <h1>People</h1>   
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Person", "index", "Person")</li>
                    <li>@Html.ActionLink("Families", "index", "Family")</li>
                    <li>@Html.ActionLink("Create Member", "create", "Person")</li>
                  
                   
                </ul>
            </nav>  
            <table>
                <tr class="TableTitle"><td colspan=8>Members</td></tr>
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Cellphone Number</th>
                    <th>Family Title</th>
                    <th>Family Id Number</th>
                    <th colspan="2">Edit</th>
                </tr>               
                @foreach (var person in Model)
                {
                    <tr><td>@Html.DisplayFor(modelItem => person.firstname)</td><td>@Html.DisplayFor(modelItem => person.middlename)</td><td>@Html.DisplayFor(modelItem => person.lastname)</td><td>@Html.DisplayFor(modelItem => person.cell)</td><td>- @Html.DisplayFor(modelItem => person.relationship)</td><td>@Html.DisplayFor(modelItem => person.familyId)</td>
                        <td class="editButton"><p>@Html.ActionLink("Edit", "edit", "Person")&nbsp;<br /></p></td><td class="editButton"><p>@Html.ActionLink("Delete", "index", "Person")&nbsp;<br /></p></td></tr>//, 
                }
            </table>
            <div class="createButton">
                <p>@Html.ActionLink("Create Member", "create", "Person")</p>
                
            </div>

      </div>
    <div class="contacts">
        <p>Contact Number: (619)306-9764</p>
        <p>Email: sam.green@geneva.edu</p>
    </div>  
</div>
