@model SCGREEN_Web_Union.com.Models.Person
@{
    ViewBag.Title = "Register a Family Member";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="Page">

        <div class="centercontent">
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("People", "index", "Person")</li>
                    <li>@Html.ActionLink("Families", "index", "Family")</li>
                    <li>@Html.ActionLink("Create Member", "create", "Person")</li>
                </ul>
            </nav>
            <h1>Register Person</h1>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>
                <fieldset>
                    <div class="form-group">
                        <div class="label">
                            @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>

                        @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="label">
                            @Html.LabelFor(model => model.middlename, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        @Html.EditorFor(model => model.middlename, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.middlename, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="label">
                            @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="label">
                            @Html.LabelFor(model => model.cell, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        @Html.EditorFor(model => model.cell, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cell, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="label">
                            @Html.LabelFor(model => model.relationship, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        @Html.EditorFor(model => model.relationship, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.relationship, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="label">
                            @Html.LabelFor(model => model.familyId, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        @Html.EditorFor(model => model.familyId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.familyId, "", new { @class = "text-danger" })
                    </div>
                    @*
                                        <div class="form-group">
                                         div class="label">
                                @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                        </div>
                    *@
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="contacts">
            <p>Contact Number: (619)306-9764</p>
            <p>Email: sam.green@geneva.edu</p>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
