@model IEnumerable<SCGREEN_Web_Union.com.Models.Family>

@{
    ViewBag.Title = "Families";
}
<div class="Page">
    <div class="centercontent">
        <h1>Families</h1>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Person", "index", "Person")</li>
                <li>@Html.ActionLink("Families", "index", "Family")</li>
                <li>@Html.ActionLink("Create Member", "create", "Person")</li>
            </ul>
        </nav>  
        <table>
            <tr class="TableTitle"><td colspan=7>Families</td></tr>
            <tr><th>ID</th><th>Name</th><th>Address</th><th>Zip Code</th><th>House Phone</th><th colspan="2">Edit</th></tr>
            @foreach (var family in Model)
            {
               <tr><td> @family.id</td><td>@family.familyname</td><td>@family.address1, @family.city, @family.state</td><td>@family.zip</td><td>@family.homephone</td>
            <td class="editButton"><p>@Html.ActionLink("Edit", "edit", "Family")&nbsp;<br /></p></td>
            <td class="editButton"><p>@Html.ActionLink("Delete", "index","Family")&nbsp;<br /></p></td></tr>//,
            }
        </table>
        <div class="createButton">     
            <p>@Html.ActionLink("Register Family", "create", "Family")</p>               
        </div>
    </div>
    <div class="contacts">
        <p>Contact Number: (619)306-9764</p>
        <p>Email: sam.green@geneva.edu</p>
    </div>
</div>

